{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css' %}"> -->
    <!-- CSS for development, prevents cache loading file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?{% now 'U' %}">
    <title>Recipe List</title>
  </head>
  <body class="recipes-list-page">
    <header class="recipes-list-header">
      <nav class="nav-bar">
        <p class="nav-title">Recipe App</p>
        <a href ="{% url 'logout' %}" class="logout-link">Logout</a>
      </nav>
    </header>
    <div style="text-align: center;">
      <button id="show-search-button">Search For Recipes</button>
    </div>
    <form action="" method="get" id="recipe-search-form" style="display: none;">
      {% csrf_token %}
      <div class="search-form-field">
        {{search_form.recipe_name.label_tag}}
        {{search_form.recipe_name}}
      </div>
      <div class="search-form-field">
        {{search_form.ingredient.label_tag}}
        {{search_form.ingredient}}
      </div>
      <div class="search-form-field">
        {{search_form.min_cooking_time.label_tag}}
        {{search_form.min_cooking_time}}
      </div>
      <div class="search-form-field">
        {{search_form.max_cooking_time.label_tag}}
        {{search_form.max_cooking_time}}
      </div>
      <div class="search-form-field">
        {{search_form.chart_type.label_tag}}
        {{search_form.chart_type}}
      </div>
      <button type="submit" id="search-button">Search</button>
    </form> 
    <section class="recipe-card-container">
      {% for object in object_list %}
        <div class="recipe-card">
            <img src="{{object.image.url}}" class="recipe-image" alt="Image of {{object.name}}" />
            <h3>
              <a href="{{object.get_absolute_url}}" class="recipe-link">{{object.name}}</a>
            </h3>
        </div>
      {% endfor %}
    </section>
    <hr>
    <section class="chart-container">
      <h2 class="analytics-header">Recipe Analytics</h2>
      {% if bar_chart %}
        <img src="data:image/png;base64, {{bar_chart}}" class="chart" alt="Bar chart">
      {% elif pie_chart %}
        <img src="data:image/png;base64, {{pie_chart}}" class="chart" alt="Pie chart">
      {% elif line_chart %}
        <img src="data:image/png;base64, {{line_chart}}" class="chart" alt="Line chart">
      {% else %}
        <p>Select a chart type above</p>
      {% endif %}
    </section>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>